@import "./colors";

.btn {
  background: white;
  outline: none;
  border: none;
  font-weight: 200;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  svg, span {
    padding: 5px 10px;
    pointer-events: none;
  }

  &:focus {
    outline: none;
    border: none;
  }
  &.btn-blue {
    border: 1px solid $blue;
    color: $blue;
    text-transform: uppercase;
    font-weight: 900;
  }
  &.btn-fill {
    background: $blue;
    color: white;
  }
  &.btn-gray {
    border: 1px solid $gray;
    color: $gray;
    text-transform: capitalize;
    span {
      color: $gray_1;
    }
  }
}
