@import "colors";

body{
  background: #f3f3f3;
}
.main-app {
  font-family: 'Tajawal', sans-serif;
  display: flex;
  justify-content: center;
  .container{
    width:80%;
    min-width: 833px;

    .nav-item{
      background: white;
      width: 100%;
      display: block;
    }
    .header{
      .header-details-mobile{
        display: none;
      }
      .avatar-icon{
        background-position: 65% 0;
        background-repeat: no-repeat;
        background-size: 190%;
        width: 60px;
        height: 60px;
        -webkit-transform: scale(1.5) translateX(20%);
        -ms-transform: scale(1.5) translateX(20%);
        transform: scale(3.0) translate(35%,8%);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
      }
      .tabs-head{
        -webkit-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.21);
        -moz-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.21);
        box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.21);
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        .tabs-head-items{
          padding: 0;
          padding-left: 200px;
          .tab-title{
            padding:  20px 0;
            margin: 0 20px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
              color:$gray;
            }
            &.active{
              border-bottom: 3px solid $blue;
            }
          }
        }

      }
      .person-data{
        padding-left: 160px;
        width: 100%;

        .person-name{
          font-size: 28px;
          font-weight: 400;
        }
        .row{
          justify-content: space-between;
          padding: 0;
          .person-reviews{
            .stars{
              svg{
                transform: scale(1.2);
                path{
                  fill:$gray_2;
                }
              }
            }

            span{
              padding: 0 10px  ;
            }
          }
        }
      }
      .followers{
        display: flex;

        width: 140px;
        .fol-title{
          color: $gray_1;
        }
        svg{
          path{
            fill: $gray_1;

          }
        }
      }
    }

    .tab-body{
      -webkit-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.09);
      -moz-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.09);
      box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.09);
      .tab-body-content{
        overflow: hidden;
        display: block;
        .tab-body-item{
          float: left;
          padding: 10px 30px;
          height: calc(100vh - 390px);
          min-height: 290px;

          .tab-title{
            .tab-desc{
              font-size: 22px;
              width: 100%;
              span{
                flex: auto;
              }
              .tab-btns{
                display: none;
              }
            }
            p{
              margin: 0;
              font-size: 22px;
              width: 100%;
            }
            svg{
              float: right;
              display: none;
            }
          }
          .edit-item{
            margin: 5px 0;
          }
          .input-item{
            background: $blue_1;
            padding: 5px;
            div{
              span{
                padding: 0 10px;
              }
            }
          }
          svg[data-edit="true"],svg[data-edit-mobile="true"]{
            background: $blue_2;
            align-self: center;
            padding: 3px 5px;
            margin-left: 3px;
            cursor: pointer;
            &:hover{
              background: $blue;
              path{
                fill: white;
              }
            }
            path{
              fill: $gray_2;
              pointer-events: none;
            }
          }
          .person-name{
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
      *{
        transition: all 0.2s;
      }

    }
  }

  .el-flex{
    display: flex;
    &.el-flex-center{
      align-items: center;
      justify-content: space-around;
    }
    &.el-flex-left{
      align-items: flex-start;
    }

  }
  .row{
    display: flex;
    flex-direction: row;
    padding: 20px;
    &.flex-around{
      justify-content: space-around;
    }
    &.flex-end{
      justify-content: flex-end;
    }
    &.flex-center{
      justify-content: center;
    }
  }

  svg{
    width: 23px;
    height: 23px;
    transform: scale(1.2);
    path,circle{
      fill:$gray
    }
  }
  @import "./popups";
  @import "./buttons";
  @import "./inputs";

}
@import "./media";