.input-container{
  position: relative;
  display: block;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;
  label{
    white-space: nowrap;
    pointer-events: none;
    padding-left: 3px;
    padding-right: 0;
    z-index: 1;
    -webkit-transform: translate3d(0,28px,0) scale(1);
    transform: translate3d(0,28px,0) scale(1);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    max-width: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;

    position: absolute;
    bottom: 100%;
    left: 0;
    right: auto;
    color: rgba(0,0,0,0.38);
  }
  input{
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: none;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    float: left;
    border-color: rgba(0,0,0,0.12);
    vertical-align: baseline;
    &:focus{
      border: none;
      border-bottom: 1px solid $blue_3;
      outline: none;
    }
  }
  &.inp-focused{

    label{
      color: $blue_3;

    }
    input{
      border-color: $blue_3;
    }
  }
  &.input-has-value, &.inp-focused{
    label{
      -webkit-transform: translate3d(0,6px,0) scale(.75);
      transform: translate3d(0,6px,0) scale(.75);
      -webkit-transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
      transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
      transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
      transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    }
  }
}