@media only screen and (max-width: 600px) {
  .btn {
    background: $op!important;
    &.btn-blue {
      border: none !important;
    }
  }
  .main-app {
    .container {
      width: 100%;
      min-width: 100%;
      .header {
        background: rgba(0, 0, 0, 0);
        .btn-upload, .header-details {
          display: none;
        }
        .header-details-mobile {
          display: block;
          .row {
            padding: 5px;
          }
          .avatar-icon {
            transform: scale(1);
            width: 160px;
            height: 160px;
            margin: auto;
          }
          .person-name {
            font-size: 28px;
            font-weight: 400;
            margin: auto;
          }
          .stars {
            svg {
              path {
                fill: $blue;
              }
            }
          }
          .person-reviews {
            b {
              margin: 0 10px;
            }
          }
        }

        .tabs-head {
          padding: 0;
          overflow: hidden;
          .tabs-head-items {
            padding: 0;
          }
        }
      }

      .tabs-head {
        background: white;
        margin-bottom: 10px;
        .followers {
          display: none;
        }
      }
      .tab-body {
        .tab-body-content {

          .tab-body-item {
            padding: 5px;
            .tab-title {

              svg {
                display: block;
              }
              .tab-desc {
                width: 100%;
                .tab-btns {
                  display: none;
                  button {
                    margin: 0 2px;
                  }

                }
              }
            }
            .edit-el{
              overflow-y: auto;
              height: 100%;
            }
            .edit-item {
              .input-item {
                background: $op;

              }
              .input-container {
                width: 100%;
              }
              svg[data-edit="true"] {
                display: none;
              }

            }
          }

        }

      }

    }
  }
}