.popup{
  position: absolute;
  display: none;
  z-index: 1;
  background: white;
  padding: 10px;
  box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.09);
  .triangle-with-shadow {
    width: 100px;
    height: 100px;
    transform: scale(0.5) rotate(-90deg) translate(0%,-150%);
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    box-shadow: 0 16px 10px -17px rgba(255, 255, 255, 0.5);
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 75px;
      left: 25px;
      -webkit-box-shadow: -1px -1px 10px -2px rgba(0,0,0,.5);
      box-shadow: 6px 8px 20px 0px rgba(0,0,0,.5);
    }
  }
  .form-btns{
    button{
      float: left;
      margin: 10px;
      span{
        pointer-events: none;
      }
    }
  }

}